streamlit
neo4j
faker
pandas
numpy
networkx>=2.8
matplotlib
plotly
pytest
scikit-learn
spacy
transformers
torch
fastapi
uvicorn
python-multipart
python-jose[cryptography]
bcrypt>=4.0.1
python-dotenv
pydantic[email]
email-validator
pymongo
